<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo w/ng and firebase</title>
  <!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

<script>
var app = angular.module("ngfireFlashCardApp", ["firebase"]);
// We now have $firebaseObject, $firebaseArray and $firebaseAuth  services available to other services

app.controller("ngfireFlashCardController", function($scope, $firebaseArray) {
  // These are the available services: $firebaseObject | $firebaseArray | $firebaseAuth]

  //$scope.newQuestion ='what?'
  //$scope.newAnswer ='42a'

  var fbRef = new Firebase("https://photondynamics.firebaseio.com/");

  //var syncObject = $firebaseObject(fbRef); // Use Objects
  //syncObject.$bindTo($scope, "data");

  $scope.questions = $firebaseArray(fbRef);
  // Because we are hooked up to fb and need to sync,
  // Normal array methods like .push or .splice()
  // Instead use the firebase methods:
  // .$add()
  // .$save()
  // .$remove()


  // Warning: if you check data in firebase, MAKE SURE IT IS AT THE RIGHT LEVEL!
  // Drilling down into an object may give the appearance that it is the ONLY object!
  // This is easy to do because a single click on a doc is enough
  // The solutio is to click on the "+" NOT THE ID
  $scope.addFlashCard = function() {// How to add a flashcard
    $scope.questions.$add({
      question: $scope.newQuestion,
      answer: $scope.newAnswer
    })
    console.log('Done for now')
  }
  // putting a console.log here won't work, see below
});
</script>
</head>
<body ng-app='ngfireFlashCardApp'>
<div ng-controller='ngfireFlashCardController'>
Flash card list

Add flash card
  Question: <input type="text" ng-model='newQuestion'><br>
  Answer: <input type="text" ng-model='newAnswer'>
  <button ng-click='addFlashCard()'>Add flash card</button>

</div>
</body>
</html>
